.navigation{
    top: 20px;
    left: 20px;
    bottom: 20px;
    background: #003687;
    width: 20%;
    box-sizing: initial;
    min-height: 100vh;
    display: flex;
}

.side-subtitle{
    color: #ffff;
    font-weight:600;
}

.subtitle-container{
    margin-bottom: var(--mb-0-75);
}

.container-laboratorios{
    height: 100px;
}

