#profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 15px 0;
    cursor: pointer;
  }

.user-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  list-style: none;
  top:  5rem;
  width: 150px;
  background-color: var(--container-color);
  border-radius: 5px;
  display: block;
  padding-left: 0px;
  box-shadow: 0 3px 5px rgba(0,0,0,.15), 5px 3px 5px rgba(0,0,0,.15);
}

nav ul li{
  list-style: none;
}

.user-links{
  list-style: none;
  display: none;
  color: var(--text-color);
}

.profileImage:hover .user-links {display: block;}

.salir{
  cursor: pointer;
}

